<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <input type="file" class='uploads' name='pic' id='uploadImage'>
        <img src="" class='Img'>
        <p>
        <button class='btn'>点击上传</button>     
        <button class='stop'>点击停止</button> 
        <p>
        <progress class='pro' value='0' max='100'></progress>
</body>
</html>
<script>    


//base64传输要崩 ajax请求一直为pending
var pro = document.querySelector('.pro'),
    img = document.querySelector('.Img'),
    btn = document.querySelector('.btn'),
    file = document.getElementById('uploadImage'),
    stop = document.querySelector('.stop');

    var one = 1024 * 1,
        start = 0,
        end = 1024 * 1;
    btn.addEventListener('click',function() {
        var reader = new FileReader(),
        dt = file.files[0];
        reader.onload = function(data) {
            console.log(data.total);
            var doc = data.target.result;
            var total  = data.total;
            var name = dt.name;
            console.log(total);
            timer = setInterval(function() {
                if(end < total){
                    var tmp = doc.substr(start,end);
                     start = end;
                     end = end + one;
                     var json = {
                         imgName: name,
                         infor: tmp
                     }
                     ajax('./uploads',JSON.stringify(json));
                     pro.value = end / total * 100;
                }else{
                    clearInterval(timer);
                    start = 0;
                    end = 1024;
                    timer = null;
                }
            },10)
        }
        reader.readAsDataURL(dt);
    })

function ajax(url,data) {
    var xhr = new XMLHttpRequest();
    xhr.open('post',url,true);
    xhr.onreadystatechange = function() {
        if(xhr.status === 200){
            console.log(xhr.responseText);
        }
    }
    xhr.setRequestHeader("Content-Type","application/json;charset=utf-8");
    xhr.send(data);
}
    
stop.addEventListener('click',function(){
        clearInterval(timer);
})


</script>







